@use '../helpers' as *;

.about {
    padding-block: rem(50);
    background-color: var(--color-section-bg);

    &__inner {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(20);

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        margin-bottom: rem(16);

        @include mobile {
            margin-bottom: rem(12);
        }
    }

    &__description {
        p:not(:last-child) {
            margin-bottom: rem(12);
        }

        @include mobile-s {
            font-size: rem(14);
        }
    }

    &__media {
        @include mobile {
            display: none;
        }
    }

    &__img {
        border-radius: var(--border-radius-lg);
    }
}