@use '../helpers' as *;

.button {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-md);
    padding: rem(12) rem(24);

    font-family: var(--font-family-accent);
    font-size: rem(22);
    font-weight: 600;
    color: var(--color-light);
    border: none;

    &--transparent {
        outline: rem(1) solid var(--color-accent);
        background-color: transparent;
        color: var(--color-accent);
    }

    &:hover {
        outline: rem(1) solid var(--color-accent);
        background-color: transparent;
        color: var(--color-accent);
    }

    @include mobile {
        font-size: rem(18);
    }
}

.button--transparent:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
}