@use '../helpers' as *;

.cta {
    padding-block: var(--section-padding-y);
    background-color: var(--color-pink);
    text-align: center;

    &__inner {
        max-width: rem(860);
        margin-inline: auto;
    }

    &__title {
        margin-bottom: rem(16);
    }

    &__description {
        @include mobile-s {
            font-size: rem(14);
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        gap: rem(12);
        margin-top: rem(24);
        margin-bottom: rem(16);

        @include mobile-s {
            flex-direction: column;
        }
    }

    &__input {
        padding: rem(12) rem(16);
        border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
        border: rem(1) solid var(--color-gray-20);
        min-width: fluid(555, 120);

        &:focus {
            border-color: var(--color-accent);
        }

        &::placeholder {
            font-size: rem(14);
        }

        @include mobile-s {
            border-radius: var(--border-radius-lg);
        }
    }

    &__button {
        border: 0;
    }

    &__note {
        text-wrap: balance;
        font-size: rem(14);

        a {
            text-decoration: none;
            color: var(--color-accent);

            &:hover {
                opacity: .7;
            }
        }
    }

    &__message-wrapper {
        display: flex;
        justify-content: center;
    }

    &__subscribe-message {
        position: fixed;
        bottom: rem(20);
        background: var(--color-valid);
        color: var(--color-light);
        padding: rem(12) rem(24);
        margin-inline: rem(12);
        border-radius: var(--border-radius-sm);
        display: none;
        font-size: rem(16);
        z-index: 1000;
        text-align: center;
        text-wrap: balance;
    }
}