@use '../helpers' as *;

.destinations {
    padding-top: rem(64);
    padding-bottom: rem(100);
    background-color: var(--color-section-bg);

    &__group {
        margin-bottom: rem(64);

        &-title {
            margin-bottom: rem(32);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
        gap: rem(20);

        &-item {
            min-width: rem(300);
        }
    }

    &__button-wrapper {
        text-align: center;
    }

}