@use '../helpers' as *;

.header {
    width: 100%;

    font-family: var(--font-family-accent);
    font-size: rem(18);
    font-weight: 600;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    padding-block: rem(24);

    &--light {
        background-color: var(--color-light);
    }

    &__menu {
        &-list {
            display: flex;
            column-gap: rem(30);
        }

        &-link {
            color: var(--color-primary);

            &.is-active {
                color: var(--color-accent);
            }
        }
    }
}