@use '../helpers' as *;

.hero {
    flex-grow: 1;
    display: flex;  
    align-items: center;
    width: 100%;
    margin-block: auto;

    &-wrapper {
        display: flex;
        flex-direction: column;

        min-height: rem(720);

        background:
            linear-gradient(270deg, rgba(246, 246, 246, 0) 0%, rgba(246, 246, 246, 0.65) 100%),
            url('./../images/hero/hero-bg.jpg') center / cover no-repeat;
    }

    &__main {
        max-width: rem(595);
        margin-right: auto;
    }

    &__title {
        margin-bottom: rem(16);

        @include mobile {
            margin-bottom: rem(12);
        }
    }

    &__description {
        font-size: rem(18);
        margin-bottom: rem(24);

        @include mobile {
            font-size: rem(16);
            margin-bottom: rem(16);
        }
    }
}