@use '../helpers' as *;

.popular-destinations {
    padding-block: var(--section-padding-y);
    background-color: var(--color-section-bg);

    &__title,
    &__description {
        text-align: center;
    }

    &__title {
        margin-bottom: rem(16);
    }

    &__description {
        @include mobile {
            font-size: rem(14);
        }
    }

    &__list {
        display: grid;
        gap: rem(20);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "greece greece france"
            "italy iceland france";

        .greece {
            grid-area: greece;
        }

        .france {
            grid-area: france;
        }

        .italy {
            grid-area: italy;
        }

        .iceland {
            grid-area: iceland;
        }

        margin-block: fluid(48, 24);

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "greece france"
                "italy iceland";
        }

        @include mobile {
            grid-template-columns: 1fr;
            grid-template-areas:
                "greece" 
                "france"
                "italy" 
                "iceland";
        }
    }

    &__button {
        &-wrapper {
            text-align: center;
        }
    }
}