@use '../helpers' as *;

.swiper {
    margin-top: fluid(64, 16);
    padding: rem(10) !important;

    &-wrapper {
        padding-bottom: rem(36);
    }

    &-pagination {
        &-bullet {
            --swiper-pagination-bullet-size: #{rem(12)};
            

            &-active {
                --swiper-pagination-color: var(--color-accent);
            }
        }
    }
}