@use '../helpers' as *;

.work-process {
    padding-block: var(--section-padding-y);

    &__title {
        text-align: center;
        margin-bottom: fluid(64, 24);
    }

    &__description {
        @include mobile-s {
            font-size: rem(14);
        }
    }

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(20);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: rem(1);
            background: var(--color-body-text);
            bottom: 57%;

            @include mobile {
                content: unset;
            }
        }

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-s {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        text-align: center;

        &-title {
            margin-bottom: rem(8);
        }
    }

    &__value {
        @include square(rem(64));
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: rem(18);
        color: white;
        background-color: var(--color-accent);
        border-radius: 50%;
        margin-bottom: rem(16);
    }
}