@use './functions' as *;

$laptop: 1024.98;
$tablet-lg: 900.98;
$mobile: 768.98;
$mobile-md: 500.98;
$mobile-s: 480.98;

@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <=rem($laptop)) {
        @content;
    }
}

@mixin tablet-lg-above {
    @media (width > rem($tablet-lg)) {
        @content;
    }
}

@mixin tablet-lg {
    @media (width <=rem($tablet-lg)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (width <=rem($mobile)) {
        @content;
    }
}

@mixin mobile-md-above {
    @media (width > rem($mobile-md)) {
        @content;
    }
}

@mixin mobile-md {
    @media (width <=rem($mobile-md)) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (width > rem($mobile-s)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <=rem($mobile-s)) {
        @content;
    }
}

@mixin hover ($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}