@use 'helpers' as *;

:root {
    --color-light: #FFFFFF;
    --color-black: #000000;

    --color-primary: #1F1F1F;
    --color-body-text: #4A4A4A;

    --color-accent: #8A2BE2;

    --color-section-bg: #F9FAFB;
    --color-footer-bg: #111827;

    --color-pink: #F3E9FC;

    --color-gray: #E2E2E2;
    --color-gray-10: #D1D5DB;
    --color-gray-20: #BDBDBD;
    --color-gray-30: #707280;

    --color-placeholder: #4A4A4A70; 

    --color-europe-text: #1E40AF;
    --color-europe-bg: #DBEAFE;

    --color-asia-text: #166534;
    --color-asia-bg: #DCFCE7;

    --border-radius-lg: #{rem(20)};
    --border-radius-md: #{rem(15)};
    --border-radius-sm: #{rem(10)};

    --box-shadow: 0 0 #{rem(7)} #{rem(2)} rgba(0, 0, 0, 0.25);

    --font-family-base: 'Open Sans', sans-serif;
    --font-family-accent: 'Montserrat', sans-serif;

    // --section-padding-y: #{rem(100)};
    --section-padding-y: #{fluid(100, 60)};

    --container-width: #{rem(1000)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;
}