@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-black: #000000;
  --color-primary: #1F1F1F;
  --color-body-text: #4A4A4A;
  --color-accent: #8A2BE2;
  --color-section-bg: #F9FAFB;
  --color-footer-bg: #111827;
  --color-pink: #F3E9FC;
  --color-gray: #E2E2E2;
  --color-gray-10: #D1D5DB;
  --color-gray-20: #BDBDBD;
  --color-gray-30: #707280;
  --color-placeholder: #4A4A4A70;
  --color-europe-text: #1E40AF;
  --color-europe-bg: #DBEAFE;
  --color-asia-text: #166534;
  --color-asia-bg: #DCFCE7;
  --border-radius-lg: 1.25rem;
  --border-radius-md: 0.9375rem;
  --border-radius-sm: 0.625rem;
  --box-shadow: 0 0 0.4375rem 0.125rem rgba(0, 0, 0, 0.25);
  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Montserrat", sans-serif;
  --section-padding-y: clamp(3.75rem, 2.25rem + 6.4vw, 6.25rem);
  --container-width: 62.5rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 48.06125rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 48.06125rem) {
  .visually-mobile {
    display: none !important;
  }
}

.no-scroll {
  position: relative;
  overflow: hidden;
}
.no-scroll::before {
  content: "";
  position: absolute;
  z-index: 900;
  inset: 0;
  background: rgba(0, 0, 0, 0.5647058824);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1rem;
  color: var(--color-body-text);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-accent);
  color: var(--color-primary);
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(2.25rem, 1.2rem + 4.48vw, 4rem);
  font-weight: 700;
  line-height: 0.9;
}

h2, .h2 {
  font-size: clamp(1.625rem, 1.25rem + 1.6vw, 2.25rem);
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.975rem + 0.64vw, 1.375rem);
}

h5, .h5 {
  font-size: clamp(0.9375rem, 0.825rem + 0.48vw, 1.125rem);
}

a, button,
label, input,
textarea, select,
svg * {
  transition-duration: var(--transition-duration);
}

@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.button {
  background-color: var(--color-accent);
  border-radius: var(--border-radius-md);
  padding: 0.75rem 1.5rem;
  font-family: var(--font-family-accent);
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--color-light);
  border: none;
}
.button--transparent {
  outline: 0.0625rem solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}
.button:hover {
  outline: 0.0625rem solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}
@media (width <= 48.06125rem) {
  .button {
    font-size: 1.125rem;
  }
}

.button--transparent:hover {
  color: var(--color-light);
  background-color: var(--color-accent);
}

.burger__button-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0.3125rem;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-lg);
  transition: var(--transition-duration);
}
.burger__button-line:nth-child(1) {
  top: 25%;
}
.burger__button-line:nth-child(3) {
  top: 75%;
}

.socials-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socials-icon a {
  display: block;
}
.socials-icon a:hover {
  color: var(--color-accent);
}

.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin-block: auto;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 45rem;
  background: linear-gradient(270deg, rgba(246, 246, 246, 0) 0%, rgba(246, 246, 246, 0.65) 100%), url("./../../images/hero/hero-bg.jpg") center/cover no-repeat;
}
.hero__main {
  max-width: 37.1875rem;
  margin-right: auto;
}
.hero__title {
  margin-bottom: 1rem;
}
@media (width <= 48.06125rem) {
  .hero__title {
    margin-bottom: 0.75rem;
  }
}
.hero__description {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
@media (width <= 48.06125rem) {
  .hero__description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.header {
  width: 100%;
  font-family: var(--font-family-accent);
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-block: 1.5rem;
}
.header--light {
  background-color: var(--color-light);
}
.header__menu {
  transition: var(--transition-duration);
}
.header__menu-list {
  display: flex;
  gap: 1.875rem;
}
@media (width <= 48.06125rem) {
  .header__menu-list {
    flex-direction: column;
  }
}
.header__menu-link {
  color: var(--color-primary);
}
@media (width <= 48.06125rem) {
  .header__menu-link {
    color: var(--color-light);
  }
}
.header__menu-link.is-active {
  color: var(--color-accent);
}
@media (width <= 48.06125rem) {
  .header__menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    max-width: 28.125rem;
    background-color: var(--color-primary);
  }
  .header__menu.active {
    right: 0;
  }
}
.header__burger-button {
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  z-index: 1000;
  background-color: transparent;
  border: none;
  display: none;
  margin-left: auto;
}
.header__burger-button.active .burger__button-line:nth-child(1) {
  top: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__burger-button.active .burger__button-line:nth-child(2) {
  opacity: 0;
}
.header__burger-button.active .burger__button-line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}
@media (width <= 48.06125rem) {
  .header__burger-button {
    display: block;
  }
}

.about {
  padding-block: 3.125rem;
  background-color: var(--color-section-bg);
}
.about__inner {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
}
@media (width <= 48.06125rem) {
  .about__inner {
    grid-template-columns: 1fr;
  }
}
.about__title {
  margin-bottom: 1rem;
}
@media (width <= 48.06125rem) {
  .about__title {
    margin-bottom: 0.75rem;
  }
}
.about__description p:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (width <= 30.06125rem) {
  .about__description {
    font-size: 0.875rem;
  }
}
@media (width <= 48.06125rem) {
  .about__media {
    display: none;
  }
}
.about__img {
  border-radius: var(--border-radius-lg);
}

.advantages {
  padding-block: var(--section-padding-y);
}
.advantages__title {
  text-align: center;
  margin-bottom: clamp(1.5rem, 0rem + 6.4vw, 4rem);
}
.advantages__list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (width <= 48.06125rem) {
  .advantages__list {
    grid-template-columns: 1fr;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.advantages__item-icon {
  margin-bottom: 1.5rem;
}
@media (width <= 48.06125rem) {
  .advantages__item-icon {
    width: 3.6875rem;
    height: 3.6875rem;
    margin-bottom: 0.75rem;
  }
}
.advantages__item-title {
  margin-bottom: 1rem;
}
@media (width <= 48.06125rem) {
  .advantages__item-title {
    margin-bottom: 0.75rem;
  }
}
@media (width <= 30.06125rem) {
  .advantages__item-description {
    font-size: 0.875rem;
  }
}

.popular-destinations {
  padding-block: var(--section-padding-y);
  background-color: var(--color-section-bg);
}
.popular-destinations__title, .popular-destinations__description {
  text-align: center;
}
.popular-destinations__title {
  margin-bottom: 1rem;
}
@media (width <= 48.06125rem) {
  .popular-destinations__description {
    font-size: 0.875rem;
  }
}
.popular-destinations__list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "greece greece france" "italy china france";
  margin-block: clamp(1.5rem, 0.6rem + 3.84vw, 3rem);
}
.popular-destinations__list .greece {
  grid-area: greece;
}
.popular-destinations__list .france {
  grid-area: france;
}
.popular-destinations__list .italy {
  grid-area: italy;
}
.popular-destinations__list .china {
  grid-area: china;
}
@media (width <= 64.06125rem) {
  .popular-destinations__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "greece france" "italy china";
  }
}
@media (width <= 48.06125rem) {
  .popular-destinations__list {
    grid-template-columns: 1fr;
    grid-template-areas: "greece" "france" "italy" "china";
  }
}
.popular-destinations__button-wrapper {
  text-align: center;
}

.destination-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
  background-color: var(--color-light);
}
.destination-card--popular {
  position: relative;
}
.destination-card--popular::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  z-index: 10;
  top: 0.625rem;
  right: 0.625rem;
  background: url("./../../icons/popular-destinations/arrow-1.svg") no-repeat;
  filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.5));
  pointer-events: none;
}
.destination-card--popular .destination-card__img {
  width: 100%;
  max-height: none;
}
.destination-card__link {
  width: 100%;
  color: var(--color-accent);
}
.destination-card__link:hover .destination-card__img {
  scale: 1.05;
}
.destination-card__img {
  width: 100%;
  max-height: 10.5rem;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  object-fit: cover;
  transition: var(--transition-duration);
}
.destination-card__content {
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.destination-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3.75rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.destination-card__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.destination-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
}
.destination-card__footer .destination-card__link {
  width: unset;
}

.work-process {
  padding-block: var(--section-padding-y);
}
.work-process__title {
  text-align: center;
  margin-bottom: clamp(1.5rem, 0rem + 6.4vw, 4rem);
}
@media (width <= 30.06125rem) {
  .work-process__description {
    font-size: 0.875rem;
  }
}
.work-process__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.work-process__list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  background: var(--color-body-text);
  bottom: 57%;
}
@media (width <= 48.06125rem) {
  .work-process__list::before {
    content: unset;
  }
}
@media (width <= 48.06125rem) {
  .work-process__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .work-process__list {
    grid-template-columns: 1fr;
  }
}
.work-process__item {
  text-align: center;
}
.work-process__item-title {
  margin-bottom: 0.5rem;
}
.work-process__value {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  color: white;
  background-color: var(--color-accent);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.reviews {
  padding-block: var(--section-padding-y);
  background-color: var(--color-section-bg);
}
.reviews__title {
  text-align: center;
  margin-bottom: 1rem;
}
.reviews__description {
  font-size: 1.125rem;
  text-align: center;
}
.reviews-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
}
.reviews-card__rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.reviews-card__star {
  width: 0.9375rem;
  height: 0.9375rem;
  background: url("./../../icons/reviews/star.svg") center/contain no-repeat;
}
.reviews-card__description {
  margin-bottom: 1.5rem;
}
@media (width <= 48.06125rem) {
  .reviews-card__description {
    font-size: 0.875rem;
  }
}
.reviews-card__author {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.reviews-card__img {
  border-radius: 50%;
}
.reviews-card__name {
  font-family: var(--font-family-accent);
  font-weight: 600;
  color: var(--color-primary);
}

.swiper {
  margin-top: clamp(1rem, -0.8rem + 7.68vw, 4rem);
  padding: 0.625rem !important;
}
.swiper-wrapper {
  padding-bottom: 2.25rem;
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 0.75rem;
}
.swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--color-accent);
}

.faq {
  padding-block: var(--section-padding-y);
}
.faq__title {
  margin-bottom: 1rem;
}
.faq__description {
  margin-bottom: clamp(1.5rem, 0rem + 6.4vw, 4rem);
}
.faq__title, .faq__description {
  text-align: center;
}

.accordion {
  max-width: 41.3125rem;
  margin-inline: auto;
  padding-inline: 0.75rem;
}
.accordion__item {
  position: relative;
}
.accordion__item.active .accordion__title::after {
  width: 1rem;
  height: 2.0625rem;
  background: url("./../icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.accordion__item.active .accordion__content {
  padding-bottom: 1.25rem;
}
.accordion__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  background: var(--color-gray-10);
  width: 100%;
  height: 0.0625rem;
}
.accordion__title {
  position: relative;
  padding-block: 1.25rem;
  cursor: pointer;
}
.accordion__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 2.0625rem;
  height: 1rem;
  background: url("./../icons/plus.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.accordion__heading {
  padding-right: 2rem;
}
.accordion__content {
  display: none;
}

.contacts-us {
  padding-block: var(--section-padding-y);
  background-color: var(--color-section-bg);
}
.contacts-us__title {
  margin-bottom: 1rem;
}
@media (width <= 48.06125rem) {
  .contacts-us__description {
    font-size: 0.875rem;
  }
}
.contacts-us__title, .contacts-us__description {
  text-align: center;
}
.contacts-us__content {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  margin-top: clamp(1.5rem, 0rem + 6.4vw, 4rem);
}
@media (width <= 64.06125rem) {
  .contacts-us__content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.contact-info {
  padding: 1.5rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
}
.contact-info__title {
  text-align: center;
}
.contact-info__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-block: 1.5rem;
}
.contact-info__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}
.contact-info__content {
  display: flex;
  flex-direction: column;
  column-gap: 0.25rem;
  text-wrap: balance;
}
.contact-info__value {
  font-size: 0.875rem;
  color: var(--color-body-text);
}
.contact-info__socials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-info__socials-list a {
  color: var(--color-primary);
}
.contact-info__socials-list svg {
  fill: var(--color-pink);
}

.contact-form {
  padding: 1.5rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
}
@media (width <= 30.06125rem) {
  .contact-form__title {
    text-align: center;
  }
}
.contact-form__fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.contact-form__row {
  display: flex;
  gap: 1.5rem;
}
@media (width <= 48.06125rem) {
  .contact-form__row {
    flex-direction: column;
    gap: 1rem;
  }
}
.contact-form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.contact-form__input, .contact-form__textarea {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-sm);
  border: 0.0625rem solid var(--color-gray-20);
}
.contact-form__input:focus {
  border-color: var(--color-accent);
}
.contact-form__input::placeholder {
  font-size: 0.875rem;
}
.contact-form__textarea {
  min-height: 6.3125rem;
  max-height: 15.625rem;
  resize: vertical;
}
.contact-form__textarea:focus {
  border-color: var(--color-accent);
}
.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}
@media (width <= 48.06125rem) {
  .contact-form__checkbox-label {
    display: block;
  }
}
.contact-form__checkbox-input {
  display: none;
}
.contact-form__checkbox-custom {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border: 0.0625rem solid var(--color-gray-20);
  border-radius: 0.3125rem;
}
.contact-form__checkbox-text {
  font-size: 0.875rem;
  color: var(--color-body-text);
  text-wrap: balance;
}
.contact-form__checkbox-text a {
  text-decoration: none;
  color: var(--color-accent);
}
.contact-form__checkbox-text a:hover {
  opacity: 0.7;
}
.contact-form__button {
  border: 0;
}

.contact-form__checkbox-input:checked + .contact-form__checkbox-custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0.5rem;
  height: 0.6875rem;
  border: solid var(--color-accent);
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}

.cta {
  padding-block: var(--section-padding-y);
  background-color: var(--color-pink);
  text-align: center;
}
.cta__inner {
  max-width: 53.75rem;
  margin-inline: auto;
}
.cta__title {
  margin-bottom: 1rem;
}
@media (width <= 30.06125rem) {
  .cta__description {
    font-size: 0.875rem;
  }
}
.cta__form {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (width <= 30.06125rem) {
  .cta__form {
    flex-direction: column;
  }
}
.cta__input {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  border: 0.0625rem solid var(--color-gray-20);
  min-width: clamp(7.5rem, -8.8125rem + 69.6vw, 34.6875rem);
}
.cta__input:focus {
  border-color: var(--color-accent);
}
.cta__input::placeholder {
  font-size: 0.875rem;
}
@media (width <= 30.06125rem) {
  .cta__input {
    border-radius: var(--border-radius-lg);
  }
}
.cta__button {
  border: 0;
}
.cta__note {
  text-wrap: balance;
  font-size: 0.875rem;
}
.cta__note a {
  text-decoration: none;
  color: var(--color-accent);
}
.cta__note a:hover {
  opacity: 0.7;
}

.footer {
  padding-block: 4rem;
  font-size: 0.875rem;
  background-color: var(--color-footer-bg);
  color: var(--color-gray-10);
}
.footer a {
  color: var(--color-gray-10);
}
.footer a:hover {
  color: var(--color-accent);
}
@media (width <= 30.06125rem) {
  .footer__description {
    text-align: center;
  }
}
.footer__top {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.6fr 0.9fr;
  gap: 1.25rem;
}
@media (width <= 48.06125rem) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .footer__top {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-wrap: balance;
}
.footer__column:first-child {
  gap: 0.5rem;
}
@media (width <= 30.06125rem) {
  .footer__column {
    align-items: center;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (width <= 30.06125rem) {
  .footer__list {
    align-items: center;
  }
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__item-links, .footer__item-time {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.footer__title {
  color: var(--color-light);
}
.footer__bottom {
  padding-top: 4rem;
}
.footer__legal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.1875rem;
  padding-top: 1.5rem;
}
.footer__legal::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.0625rem;
  background: #1F2937;
}

.destinations-hero {
  padding-block: 4rem;
  background-color: var(--color-section-bg);
}
.destinations-hero__title {
  margin-bottom: 1rem;
}
@media (width <= 30.06125rem) {
  .destinations-hero__description {
    font-size: 0.875rem;
  }
}

.filters {
  padding-block: 2rem;
}
.filters button {
  background-color: transparent;
  border: none;
}
.filters__search {
  position: relative;
  margin-bottom: 2rem;
}
.filters__search:hover > .filters__search-button svg {
  fill: var(--color-accent);
}
.filters__search-input {
  padding-block: 0.875rem;
  padding-left: 1rem;
  padding-right: 3.75rem;
  width: 100%;
  border-radius: var(--border-radius-md);
  border: 0.0625rem solid var(--color-gray-20);
}
.filters__search-input:hover {
  border: 0.0625rem solid var(--color-accent);
}
.filters__search-input::placeholder {
  font-size: 0.875rem;
  color: var(--color-placeholder);
}
.filters__search-button {
  position: absolute;
  right: 1rem;
  top: 56%;
  transform: translate(0, -50%);
}
.filters__search-button svg {
  fill: var(--color-gray-30);
}
.filters__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}
@media (width <= 48.06125rem) {
  .filters__dropdown {
    flex-wrap: wrap;
  }
}
.filters__select {
  position: relative;
  padding: 0.875rem 2.6875rem 0.875rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-size: 1.125rem;
  color: inherit;
  width: 100%;
  border-radius: var(--border-radius-md);
  border: 0.0625rem solid var(--color-gray-20);
  background-image: url(./../../icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  cursor: pointer;
}
.filters__select:hover {
  border: 0.0625rem solid var(--color-accent);
}
.filters__active {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (width <= 30.06125rem) {
  .filters__active-label {
    font-size: 0.875rem;
  }
}
.filters__active-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filters__tag {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.125rem 0.625rem;
  font-size: 0.875rem;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-sm);
}
.filters__tag-remove {
  width: 0.75rem;
  height: 1.0625rem;
  padding: 0;
}
.filters__tag-remove svg {
  fill: var(--color-gray-30);
}
.filters__tag-remove:hover svg {
  fill: var(--color-accent);
}
.filters__clear {
  color: var(--color-accent);
}

.tag {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.125rem 0.625rem;
  border-radius: var(--border-radius-sm);
}
.tag--europe {
  color: var(--color-europe-text);
  background-color: var(--color-europe-bg);
}
.tag--asia {
  color: var(--color-asia-text);
  background-color: var(--color-asia-bg);
}

.destinations {
  padding-top: 4rem;
  padding-bottom: 6.25rem;
  background-color: var(--color-section-bg);
}
.destinations__group {
  margin-bottom: 4rem;
}
.destinations__group-title {
  margin-bottom: 2rem;
}
.destinations__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
  gap: 1.25rem;
}
.destinations__list-item {
  min-width: 18.75rem;
}
.destinations__button-wrapper {
  text-align: center;
}

.services-hero {
  padding-block: 4rem;
  background-color: var(--color-section-bg);
}
.services-hero__title {
  margin-bottom: 1rem;
}
@media (width <= 30.06125rem) {
  .services-hero__description {
    font-size: 0.875rem;
  }
}

.services {
  padding-block: var(--section-padding-y);
}
.services__title {
  margin-bottom: 1rem;
}
.services__description {
  max-width: 31.25rem;
  margin-inline: auto;
  font-size: 1.125rem;
}
@media (width <= 48.06125rem) {
  .services__description {
    font-size: 1rem;
  }
}
@media (width <= 30.06125rem) {
  .services__description {
    font-size: 0.875rem;
  }
}
.services__title, .services__description {
  text-align: center;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.service-card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
}
@media (width <= 30.06125rem) {
  .service-card {
    gap: 0.625rem;
  }
}
.service-card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (width <= 30.06125rem) {
  .service-card__body {
    gap: 0.625rem;
  }
}
.service-card__icon {
  width: clamp(3.4375rem, 2.9125rem + 2.24vw, 4.3125rem);
  height: clamp(3.4375rem, 2.9125rem + 2.24vw, 4.3125rem);
}

/*# sourceMappingURL=main.css.map */
